body {
    background-color: rgb(163, 163, 163);
}

.content{
    margin-top: 10%;
   padding-left: 12%;
   
}

.content1{

border: 2px solid rgb(73, 73, 73);
  width: 80%;
height: 50px;
margin-left: 10%;

}


.content2{
    margin-left: 10%;
    margin-top: 15%;
}

.content3{
    background-color: rgb(201, 48, 48);
    border: 1px solid  rgb(41, 41, 41);
    margin-right: 5%;
    
}
.content4{
    border: 1px solid  rgb(41, 41, 41);
    margin-right: 3%;
    
}

.content5{
   
   border: 2px solid rgb(73, 73, 73);
   width: 40%;
   height: 50px;
   position: center; 
}
.content6{
    padding-left: 10%;
    margin-bottom: 10%;
    margin-top :10% ;
}


footer{
    margin-top: 30%;
    text-align: center;
}

